In [34]:
import pandas as pd
from xgboost import XGBClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from matplotlib import pyplot as plt

data = pd.read_csv("creditcard.csv", error_bad_lines=False)

In [35]:
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [36]:
data.shape

(284807, 31)

In [37]:
data.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [38]:
data.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.919560e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [39]:
data.dropna()

            Time         V1         V2  ...       V28  Amount  Class
0            0.0  -1.359807  -0.072781  ... -0.021053  149.62      0
1            0.0   1.191857   0.266151  ...  0.014724    2.69      0
2            1.0  -1.358354  -1.340163  ... -0.059752  378.66      0
3            1.0  -0.966272  -0.185226  ...  0.061458  123.50      0
4            2.0  -1.158233   0.877737  ...  0.215153   69.99      0
...          ...        ...        ...  ...       ...     ...    ...
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[284807 rows x 31 columns]

In [40]:
total_transactions = len(data)
normal_transactions = len(data[data.Class==0])
fraud_transactions = len(data[data.Class==1])
fraud_perc = (fraud_transactions/normal_transactions)*100
print("total transactions: ", format(total_transactions))
print("normal transactions: ", format(normal_transactions))
print("fraud transactions: ", format(fraud_transactions))
print("fraud percentage: ", format(fraud_perc))

total transactions:  284807
normal transactions:  284315
fraud transactions:  492
fraud percentage:  0.17304750013189596

In [41]:
print("Min amount of transactions: {}", format(data.Amount.min()))
print("Max amount of transactions: {}", format(data.Amount.max()))

Min amount of transactions: {} 0.0
Max amount of transactions: {} 25691.16

In [42]:
data.shape

(284807, 31)

In [43]:
data.drop_duplicates(inplace=True)
data.shape

(283726, 31)

In [44]:
print("Min fraud transaction amount: ", format(data[data.Class==1].min().Amount))
print("Max fraud transaction amount: ", format(data[data.Class==1].max().Amount))

Min fraud transaction amount:  0.0
Max fraud transaction amount:  2125.87

In [45]:
X = data.drop('Class', axis = 1).values
y = data['Class'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.27, random_state = 1)

In [46]:
xgb = XGBClassifier(max_depth = 4, booster="dart")
xgb.fit(X_train, y_train)
xgb_yhat = xgb.predict(X_test)

In [47]:
print('Accuracy score is {}'.format(accuracy_score(y_test, xgb_yhat)))

Accuracy score is 0.9995039617789497

In [48]:
confusion_matrix(y_test, xgb_yhat, labels = [0, 1])

array([[76479,     8],
       [   30,    90]])

In [61]:
print("Percentage of missed fraud transactions: ", format(8/(76479+8+30+90)*100))

Percentage of missed fraud transactions:  0.01044290991684833

In [50]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
lr_yhat = lr.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [51]:
print('Accuracy score is {}'.format(accuracy_score(y_test, lr_yhat)))

Accuracy score is 0.9990209771952955

In [52]:
confusion_matrix(y_test, lr_yhat, labels = [0, 1])

array([[76451,    36],
       [   39,    81]])

In [60]:
print('Percentage of missed fraud transactions: {}'.format(36/(76451+36+39+81)*100))

Percentage of missed fraud transactions: 0.04699309462581749

In [54]:
vc = VotingClassifier([('lr', lr), ('xgb', xgb)], voting='hard')

In [55]:
vc.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

VotingClassifier(estimators=[('lr',
                              LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False)),
                             ('xgb',
                              XGBClassifier(base_score=0.5, booster='dart',
                                            colsample_bylevel=1,
                                            colsamp...node=1,
                                            colsample_bytree=1, gamma=0,
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=4, min_child_weight=1,
                                            missing=None, n_estimators=100,
                                            n_jobs=1, nthread=None,
                                            objective='binary:logistic',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1))],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None)

In [56]:
vc_yhat = vc.predict(X_test)

In [57]:
print('Accuracy score is {}'.format(accuracy_score(y_test, vc_yhat)))

Accuracy score is 0.9994517472293655

In [58]:
confusion_matrix(y_test, vc_yhat, labels = [0, 1])

array([[76486,     1],
       [   41,    79]])

In [59]:
print('Percentage of missed fraud transactions: {}'.format(1/76486*100))

Percentage of missed fraud transactions: 0.0013074288105012681